code[class*="language-"],
pre[class*="language-"] {
  color: #a6accd;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #717cb425;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: #717cb425;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  color: white;
  background: #1b1e28;
}

:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}


.token.comment {
  color: #767C9DB0;
  font-style: italic
}

.token.punctuation {
  color: #767C9DB0;
  font-style: italic
}

.token.builtin {
  color: #ADD7FF;
  
}

.token.variable {
  color: #ADD7FF;
  
}

.token.function {
  color: #ADD7FF;
  
}

.token.string {
  color: #ADD7FF;
  
}

.token.constant {
  color: #E4F0FB;
  
}

.token.keyword {
  color: #5DE4C7;
  
}

.token.tag {
  color: #5DE4C7;
  
}

.token.deleted {
  color: #5DE4C7;
  
}

.token.number {
  color: #5DE4C7;
  
}

.token.char {
  color: #5DE4C7;
  
}

.token.symbol {
  color: #5DE4C7;
  
}

.token.inserted {
  color: #5DE4C7;
  
}

.token.operator {
  color: #91B4D5;
  
}

.token.changed {
  color: #91B4D5;
  
}

.token.boolean {
  color: #D0679D;
  
}

.token.hexcode {
  color: #FFFFFF;
  
}

.token.attr-name {
  color: #91B4D5;
  font-style: italic
}

.token.selector {
  color: #91B4D5;
  font-style: italic
}

.token.regex {
  color: #5FB3A1;
  
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}