name: CI

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 22

      - uses: pnpm/action-setup@v2
        name: Install pnpm
        with:
          version: 10
          run_install: false

      - name: Install Dependencies
        run: pnpm install

      - name: Check
        run: |
          pnpm -r check:prettier
          pnpm -r check:eslint

      - name: Build
        run: pnpm -r build
